@model AIS.ViewModels.MyContractViewModel;

<h2>Создание контракта по шаблону</h2>
<a class="nav-link text-dark" asp-area="" asp-controller="process" asp-action="ConstructWorkContract">Сформировать договор подряда</a>