@model AIS.ViewModels.ConditionViewModel;

<h2>Добавление раздела документа</h2>

<form  asp-action="createcondition" asp-controller="process" method="post">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div class="container">

        <input type="hidden" class="form-control" asp-for="DocumentTemplateId">
        <input type="hidden" class="form-control" asp-for="TypeOfDocumentId">

            <div class="row">
                <div class="col-5 mb-3">
                <select class="form-select" id="NumLevelReference" asp-for="NumLevelReference">
                    <option value=0>Без нумерации</option>
                    <option value=1>Первый (1.)</option>
                    <option value=2>Второй (1.1.)</option>
                    <option value=3>Третий (1.1.1.)</option>
                </select>
                </div>
                <div class="col-7"></div>
            </div>
        
        <div class="row">
            <div class="col-5 mb-3">
                <select class="form-select" id="NumId" asp-for="NumId">
                    <option value=0>Группировка нумерации отсутствует</option>
                    <option value=1>Первая</option>
                    <option value=2>Вторая</option>
                    <option value=3>Третяя</option>
                    <option value=4>Четвертая</option>
                    <option value=5>Пятая</option>
                </select>
            </div>
            <div class="col-7"></div>
        </div>


        <div class="row">
            <div class="col-5 mb-3">
                <select class="form-select" size="2" data-placeholder="Выравнивание текста" id="Justification" asp-for="Justification">
                    <option value="left">Слева</option>
                    <option value="center">По центру</option>
                    <option value="right">Справа</option>
                    <option value="both">Выравнивание по ширине</option>
                </select>
            </div>
            <div class="col-7"></div>
        </div>

        @if (Model.TypeOfDocumentId == 1)
        {
            <div class="row">
                <div class="col-5 mb-3">
                    <select class="form-select" size="2" data-placeholder="Тип регулирования" id="TypeOfStateRegId" asp-for="TypeOfStateRegId" asp-items="@Model.TypesOfStateReg">
                </select>
            </div>
            <div class="col-7"></div>
        </div>
        }

        <div class="row">
            <div class="col-5 mb-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Наименование условия" aria-label="Наименование условия" asp-for="Name">
                </div>
            </div>
            <div class="col-7"></div>
        </div>
        
        <div class="row">
            <div class="col-5 mb-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Заголовок условия" aria-label="Заголовок условия" asp-for="Title">
                </div>
            </div>
            <div class="col-7"></div>
        </div>
    </div>

        <div class="row">
            <div class="col-12 mb-3"></div>
        </div>

    <div class="row">
        <div class="col-5 mb-3">
            <div class="d-flex justify-content-end">
                <div>
                <a class="btn btn-secondary" role="button" asp-action="EditDocumentTemplate" asp-controller="process" asp-route-id="@Model.DocumentTemplateId">Отмена</a>
                </div>
                <div class="col-1"></div>
                <div>
                <input class="btn btn-primary" type="submit" value="Отправить" />
                </div>
            </div>
        </div>
        <div class="col-7"></div>
    </div>
</form>



@section scripts{
    <script asp-src-include="~/js/select.js"></script>
}



