@{
    ViewData["Title"] = "Настройки";
}

<h2>Список задач</h2>

<table class="table table-sm table-hover table-condensed" id="currentTable">
    <tr><th onclick="sortTable(0)">Наименование</th><th onclick="sortTable(1)">Описание</th></tr> 
    <tr class="table-filters">
        <td>
            <input type="text" id="tableFilter" />
        </td>
        <td>
            <input type="text" id="tableFilter" />
        </td>
    </tr>
    <tr class="table-data">
            <td>Шаблоны контрактов</td>
            <td>Определяют все условия контрактов в т.ч. преамбулы, заголовки и т.д.</td>
             <td align="right">
                 <a class="btn btn-outline-primary" role="button" asp-action="CommonContractTemplates" asp-controller="process">Открыть</a>
             </td>
    </tr>
    @if (User.IsInRole("admin"))
    {
        <tr class="table-data">
            <td>Пользователи</td>
            <td>Создание и редактирование данных пользователей и их ролей</td>
            <td align="right">
                <a class="btn btn-outline-primary" role="button" asp-action="Index" asp-controller="users">Открыть</a>
            </td>
        </tr>
    }
</table>

@section scripts{
    <script asp-src-include="~/js/tables.js"></script>
}