@model AIS.ViewModels.EmployersViewModels.CreateEmployeeViewModel;

<h2>Добавление сотрудника контрагента</h2>
<form asp-action="createemployee" asp-controller="employers">
 <div class="validation" asp-validation-summary="ModelOnly"></div>

 <div class="container">

        <input type="hidden" class="form-control" asp-for="PartnerId">

        <div class="row">
            <div class="col-5 mb-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Имя" aria-label="Имя" asp-for="Name">
                </div>
            </div>
            <div class="col-7"><span asp-validation-for="Name"></span></div>
        </div>

        <div class="row">
            <div class="col-5 mb-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Отчество" aria-label="Отчество" asp-for="FirstName">
                </div>
            </div>
            <div class="col-7"><span asp-validation-for="FirstName"></span></div>
        </div>

        <div class="row">
            <div class="col-5 mb-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Фамилия" aria-label="Фамилия" asp-for="LastName">
                </div>
            </div>
            <div class="col-7"><span asp-validation-for="LastName"></span></div>
        </div>


        <div class="row">
            <div class="col-5 mb-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Адрес" aria-label="Адрес" asp-for="Address">
                </div>
            </div>
            <div class="col-7"><span asp-validation-for="Address"></span></div>
        </div>

        <div class="row">
            <div class="col-5 mb-3">
                <div class="input-group-sm mb-3">
                    <input type="text" class="form-control" placeholder="Телефон" aria-label="Телефон" asp-for="PhoneNumber" id="PhoneNumber">
                </div>
            </div>
            <div class="col-7"><span asp-validation-for="PhoneNumber"></span></div>
        </div>

        <script>
            $(document).ready(function () {
                $('#PhoneNumber').inputmask('+7(999)-999-9999');
            });
        </script>

        <div class="row">
            <div class="col-5 mb-3">
                 <div class="input-group">
                       <input type="text" class="form-control" placeholder="Email" aria-label="Email" asp-for="Email" id="Email">
                </div>
             </div>
            <div class="col-7"><span asp-validation-for="Email"></span></div>
        </div>

        <script>
            $(function() {
                let $input = $('#Email');
                let cursor = $input[0].selectionStart;
                let prev = $input.val();

            $input.inputmask({
                mask: "*{1,50}[.*{1,50}][.*{1,50}]@@*{1,50}.*{1,20}[.*{1,20}][.*{1,20}]",
                greedy: false,
                clearIncomplete: true,
                showMaskOnHover: false,
                definitions: {
                    '*': {
                    validator: "[^_@@.]"
                    }
                }

            }).on('keyup paste', function() {
                if (this.value && /[^_a-zA-Z0-9@@\-.]/i.test(this.value)) {
                    this.value = prev;
                    this.setSelectionRange(cursor, cursor);
                    $input.trigger('input');
                } else {
                    cursor = this.selectionStart;
                    prev = this.value;
                }
            });
            });;
        </script>

    </div>

        <div class="row">
            <div class="col-5 mb-3">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <input class="btn btn-primary" type="submit" value="Отправить" />
                </div>
            </div>
            <div class="col-7"></div>
        </div>

</form>


@section scripts{
    <script asp-src-include="~/js/select.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/inputmask/dist/jquery.inputmask.js"></script>
}