@model IEnumerable<Core.RootTemplate>
@{
    ViewData["Title"] = "Корневые шаблоны контрактов";
}

<h2>Шаблоны</h2>

<div class="row">
    <div class="col-3 mb-3">
        <p><a asp-action="CreateRootTemplate">Добавить шаблон</a></p>
    </div>
    <div class="col-3">
    </div>
    <div class="col-6"></div>
</div>

<table class="table table-sm table-hover table-condensed" id="currentTable">
    <tr><th onclick="sortTable(0)">Наименование</th><th onclick="sortTable(1)">Описание</th></tr>
    <tr class="table-filters">
        <td>
            <input type="text" id="tableFilter" />
        </td>
        <td>
            <input type="text" id="tableFilter" />
        </td>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="table-data">
                <td>@item.Name</td>
                <td>@item.Description</td>
            <td align="right">
                <a class="btn btn-outline-primary" role="button" asp-action="EditRootTemplate" asp-controller="documents" asp-route-id="@item.Id">Изменить</a>
            </td>
            <td align="left">
                <form asp-controller="documents" asp-action="DeleteRootTemplate" method="post" asp-route-id="@item.Id">
                    <input type="submit" value="Удалить" class="btn btn-outline-danger" />
                </form>
            </td>
        </tr>
    }
</table>

@section scripts{
    <script asp-src-include="~/js/tables.js"></script>
}