@model AIS.ViewModels.PartnersViewModels.CreatePartnerOrganizationViewModel;
  <style type="text/css">
    .input__box {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .name__input {
        background: #fff;
        padding: 10px;
        border: 1px solid #6c6c6c;
        color: #000;
    }

    .name__input_label {
        position: absolute;
        color: #6c6c6c;
        top: -10px;
        left: 20px;
        background: #fff;
        padding: 0 5px;
    }
  </style>

<form asp-action="createpartnerorganization" name="form1" asp-controller="partners" id="createpartner">
<div class="validation" asp-validation-summary="ModelOnly"></div>
    <div class="container">

        <input type="hidden" class="form-control" asp-for="PartnerTypeId">

        <div class="row">
            <div class="col-5 mb-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Наименование" aria-label="Наименование" asp-for="Name">
                </div>
            </div>
            <div class="col-7"><span asp-validation-for="Name"></span></div>
        </div>

        <div class="row">
            <div class="col-5 mb-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Короткое наименование" aria-label="Короткое наименование" asp-for="ShortName">
                </div>
            </div>
            <div class="col-7"><span asp-validation-for="ShortName"></span></div>
        </div>

        <div class="row">
            <div class="col-5 mb-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Адрес" aria-label="Адрес" asp-for="Address">
                </div>
            </div>
            <div class="col-7"><span asp-validation-for="Address"></span></div>
        </div>

        <div class="row">
            <div class="col-5 mb-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Email" aria-label="Email" asp-for="Email">
                </div>
            </div>
            <div class="col-7"><span asp-validation-for="Email"></span></div>
        </div>

        <div class="row">
            <div class="col-5 mb-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Телефонный номер" aria-label="Телефонный номер" asp-for="PhoneNumber">
                </div>
            </div>
            <div class="col-7"><span asp-validation-for="PhoneNumber"></span></div>
        </div>

        <div class="row">
            <div class="col-5 mb-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="ИНН" aria-label="ИНН" asp-for="INN">
                </div>
            </div>
            <div class="col-7"><span asp-validation-for="INN"></span></div>
        </div>

        <div class="row">
            <div class="col-5 mb-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="КПП" aria-label="КПП" asp-for="KPP">
                </div>
            </div>
            <div class="col-7"><span asp-validation-for="KPP"></span></div>
        </div>

        <div class="row">
            <div class="col-5 mb-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="ОГРН" aria-label="ОГРН" asp-for="OGRN">
                </div>
            </div>
            <div class="col-7"><span asp-validation-for="OGRN"></span></div>
        </div>

        <div class="row">
            <div class="col-5 mb-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Банк" aria-label="Банк" asp-for="Bank">
                </div>
            </div>
            <div class="col-7"><span asp-validation-for="Bank"></span></div>
        </div>

        <div class="row">
            <div class="col-5 mb-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Расчетный счет" aria-label="Расчетный счет" asp-for="Account">
                </div>
            </div>
            <div class="col-7"><span asp-validation-for="Account"></span></div>
        </div>

        <div class="row">
            <div class="col-5 mb-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Корреспондентский счет" aria-label="Корреспондентский счет" asp-for="CorrespondentAccount">
                </div>
            </div>
            <div class="col-7"><span asp-validation-for="CorrespondentAccount"></span></div>
        </div>

        <div class="row">
            <div class="col-5 mb-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Бик" aria-label="Бик" asp-for="BIK">
                </div>
            </div>
            <div class="col-7"><span asp-validation-for="BIK"></span></div>
        </div>

        <div class="row">
            <div class="col-5 mb-3">
                <select size="2" data-placeholder="Тип руководителя" class="form-select" asp-for="DirectorTypeId" asp-items="@Model.DirectorTypes" id="DirectorTypeId">
                </select>
            </div>
            <div class="col-7"><span asp-validation-for="DirectorTypeId"></span></div>
        </div>

        <div class="row">
            <div class="col-5 mb-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="ФИО Руководителя" aria-label="ФИО Руководителя" asp-for="DirectorName">
                </div>
            </div>
            <div class="col-7"><span asp-validation-for="DirectorName"></span></div>
        </div>

        <div class="row">
            <div class="col-5 mb-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="ФИО Руководителя в родительном падеже" aria-label="ФИО Руководителя в родительном падеже" asp-for="DirectorNameR">
                </div>
            </div>
            <div class="col-7"><span asp-validation-for="DirectorNameR"></span></div>
        </div>

        <div class="row">
            <div class="col-5 mb-3">
                <select size="2" data-placeholder="Категория организациии" class="form-select" asp-for="PartnerCategoryId" asp-items="@Model.PartnerCategories" id="PartnerCategoryId">
                </select>
            </div>
            <div class="col-7"><span asp-validation-for="PartnerCategoryId"></span></div>
        </div>

        <div class="row">
            <div class="col-5 mb-3">
                <select size="2" data-placeholder="Тип взаимоотношений" class="form-select" asp-for="PartnerStatusId" asp-items="@Model.PartnerStatuses" id="PartnerStatusId1">
                </select>
            </div>
            <div class="col-7"><span asp-validation-for="PartnerStatusId"></span></div>
        </div>

    </div>

    <div class="row">
        <div class="col-5 mb-3">
            <div class="d-flex justify-content-end">
                <div>
                    <a class="btn btn-secondary" role="button" asp-action="Partners" asp-controller="Partners">Отмена</a>
                </div>
                <div class="col-1"></div>
                <div>
                    <input class="btn btn-primary" type="submit" value="Отправить" onclick="ApplyValidation()" />
                </div>
            </div>
        </div>
        <div class="col-7"></div>
    </div>

    </form>