html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: url(/images/background.jpg);
    background-size: cover;
}

.navbar {
    background-color: ghostwhite;
}

.footer {
    background-color: ghostwhite;
}

#tableFilter {
    width: 100%;
}

.multiselect-container {
width: 100% !important;
}

.background{

}