@model AIS.ViewModels.UsersViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Изменение пароля";
}
<h2>Изменение пароля для пользователя @Model.UserNickName</h2>
<form asp-action="ChangePassword" asp-controller="Users">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Email" />
    
    <div class="row">
        <div class="col-5 mb-3">
            <div class="form-group">
                <label asp-for="OldPassword" class="control-label">Старый пароль</label>
                <input type="text" asp-for="OldPassword" class="form-control" />
            </div>
        </div>    
    <div class="col-7"></div>
    </div>

    <div class="row">
        <div class="col-5 mb-3">
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label">Новый пароль</label>
                <input type="text" asp-for="NewPassword" class="form-control" />
            </div>
        </div>
        <div class="col-7"></div>
    </div>


    <div class="row">
        <div class="col-5 mb-3">
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
        <div class="col-7"></div>
    </div>

</form>

