@model ErrorViewModel
@{
    ViewData["Title"] = "Ошибка";
}

<h1 class="text-danger">Ошибка</h1>
<h2 class="text-danger">@Model.Message</h2>
<br />
<br />
<br />
<p>
    <font size="20" color="red" face="Arial">Статус ошибки:&nbsp&nbsp</font><font size="20" color="black" face="Arial">@Model.StatusCode</font><br />
    <font size="20" color="red" face="Arial">Код ошибки:&nbsp&nbsp</font><font size="20" color="black" face="Arial">@((int)Model.StatusCode)</font>
</p>

